main{
    overflow: hidden;
    height: calc(100% - 140%);
}
main > .content{
    height:500px;  
}
main > nav{
    float:left;
    height:500px;
    width:250px;
}
main > aside{
    float:right;
    height:500px;
    width:250px;
}
.deck{
    height:500px;
    border: solid black 1px;
}
h2{
    font-size: 36px;
}
h1{
    font-size: 40px;
}